.btn-menu {
	display: block;

	width: rem(30);
	height: rem(22);

	position: relative;
	transform: rotate(0deg);

	border: 0;
	background: transparent;
	box-shadow: none;
	cursor: pointer;

	transition: .5s ease-in-out;

	@include media('>=lg') {
		display: none;
	}
	
	span {
		display: block;

		width: 100%;
		height: rem(4);

		position: absolute;
		left: 0;
		transform: rotate(0deg);

		//border-radius: 2px;
		background: $color--primary;
		opacity: 1;

		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0;
			transform-origin: left center;
		}

		&:nth-child(2) {
			top: rem(9);
			transform-origin: left center;
		}

		&:nth-child(3) {
			top: rem(18);
			transform-origin: left center;
		}
	}
	&.open {
		span:nth-child(1) {
			top: rem(-2);
			left: rem(4);
			transform: rotate(45deg);
		}

		span:nth-child(2) {
			width: 0;

			opacity: 0;
		}

		span:nth-child(3) {
			top: rem(19);
			left: rem(4);
			transform: rotate(-45deg);
		}
	}
}
