.main-header {
	display: flex;
	align-items: center;

	height: rem(80);
	padding: 0 rem(10);

	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;

	@include media('>=md') {
		height: rem(110);
	}

	&::after {
		content: '';

		width: 100%;
		height: 100%;

		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;

		background-color: $color--bg;
		opacity: 0;

		transition: opacity $transition-long;
	}

	&.expanded {
		@include media('<lg') {
			background: $color--bg;
		}
	}

	&.scrolled::after {
		opacity: 1;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}


	&__logo {
		flex: 0 0 auto;

		width: 100%;
		max-width: rem(70);
		padding: rem(15) 0;

		position: relative;

		@include media('>=md') {
			width: rem(110);
		}
	}

	&__logo-homepage,
	&__logo-global {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		transition: opacity $transition-long;
	}

	&__logo-homepage {
		width: rem(30);
	}

	&__logo-global {
		width: rem(70);

		@include media('>=md') {
			width: rem(90);
		}
	}

	body:not(.home) &__logo-homepage {
		display: none;
	}

	body.home &.scrolled &__logo-homepage {
		opacity: 0;
	}

	body.home &__logo-global {
		opacity: 0;
	}

	body.home &.scrolled &__logo-global {
		opacity: 1;
	}

	&__nav {
		@include media('<lg') {
			display: none;
		}

		@include media('>=lg') {
			display: block;
			flex: 0 0 auto;

			max-width: calc(100% - rem(252));
		}
	}

	&__desktop-nav,
	&__mobile-nav {
		padding: 0;

		z-index: 9;

		text-align: center;

		@include font(14, 16);
	}

	&__mobile {
		@include media('<lg') {
			height: 100vh;
			padding: rem(30) 0;

			position: absolute;
			z-index: 999;
			top: 100%;
			right: 0;
			left: 0;

			border-bottom: 1px solid $color--text;
			background: $color--bg;
		}

		@include media('>=lg') {
			display: none;
		}

		ul {
			display: flex;
			flex-direction: column;
		}
	}

	.menu-item {
		display: block;

		position: relative;
		margin: 0 rem(7.5);

		@include media('>=lg') {
			display: inline-block;

			padding: rem(10) 0;
		}

		>a {
			vertical-align: middle;

			font-family: $font-third;
			font-weight: 400;
			color: $color--light;
			text-transform: uppercase;

			border-bottom: 1.5px solid transparent;

			@include font(12, 14);

			@include media('<lg') {
				display: inline-block;

				padding: rem(10);

				margin: rem(10) 0;
			}
		}

		&.current-menu-item,
		&:hover {
			@include media('>=lg') {
				border-bottom: 1.5px solid $color--primary;
			}

			a {
				border-bottom: 1.5px solid $color--primary;

				@include media('>=lg') {
					border-bottom: none;
				}
			}
		}



		&+& {
			@include media('>=lg') {
				margin-left: rem(32);
			}
		}

		&__dropdown {
			width: rem(30);
			height: rem(30);
			padding: 0;

			position: relative;
			margin: 0 0 0 rem(5);
			vertical-align: middle;

			border: 0;
			border-radius: 50%;
			background: transparent;
		}

		&__icon {
			display: block;

			width: 0;
			height: 0;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			border-width: rem(8) rem(6) 0 rem(6);
			border-style: solid;
			border-color: currentColor transparent transparent transparent;
		}

		&__submenu {
			@include media('<lg') {
				padding: rem(20) 0;

				border-top: 1px solid currentColor;
				border-bottom: 1px solid currentColor;
			}

			@include media('>=lg') {
				width: auto;
				min-width: rem(200);
				padding: rem(10) rem(20);

				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, 0);

				border: 1px solid currentColor;
				background: $color--light;
			}

			.menu-item {
				padding: 0;

				margin: 0 0 rem(20);

				&:last-child {
					margin: 0;
				}
			}
		}
	}



	&__wc {
		width: rem(80);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include media('>=md') {
			width: rem(100);
		}

		@include media('>=lg') {
			position: static;
			transform: none;
		}

		ul {
			display: flex;
			justify-content: space-between;

			padding: 0;

			margin: 0;

			li {

				list-style: none;

				a {
					display: inline-block;
					width: rem(14);

					svg path {
						transition: fill $default-transition-speed;
					}

					&:hover svg path {
						fill: $color--primary;
					}
				}
			}
		}
	}
}