@import '__settings/init';

// Buttons styles
.wp-block-buttons {
	margin: rem(40) auto;

	&.aligncenter {
		justify-content: center;
	}
}

.wp-block-button {
	&__link {
		display: inline-block;

		min-width: 130px;
		padding: rem(8) rem(40);

		position: relative;

		font-family: $font-third;
		color: $color--light;
		letter-spacing: .1em;
		text-transform: uppercase;

		border-radius: 0;
		background: transparent;

		transition: opacity $default-transition-speed ease;

		@include font(14, 16.05);

		@include media('>=lg') {
			@include font(16, 18);
		}

		&:hover {
			color: $color--light;

			opacity: .8;
		}

		&::after {
			content: '';

			position: absolute;
			z-index: -2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			padding: rem(10) rem(29);

			border: none;

			@include font(12, 14);

			&::before {
				content: '';

				position: absolute;
				z-index: -1;
				top: rem(1);
				right: rem(1);
				bottom: rem(1);
				left: rem(1);

				background: $color--6;

				transition: opacity $default-transition-speed ease;
			}

			&:hover::before {
				opacity: 0;
			}
		}
	}

	&.is-style-arrow {
		.wp-block-button__link {
			min-width: auto;
			padding: 0;

			position: relative;

			font-family: $font-fourth;
			font-style: italic;
			color: $color--light;
			text-decoration: none;
			letter-spacing: normal;
			text-transform: none;

			@include font(12, 15.08);

			&::before {
				content: url('../images/svg/arrow.svg');

				position: absolute;
				top: 50%;
				left: 100%;
				transform: translate(rem(11), -50%);

				transition: transform $default-transition-speed;
			}

			&::after {
				display: none;
			}

			@media (hover: hover) {
				&:hover {
					color: $color--light;

					opacity: 1;
				}

				&:hover::before {
					transform: translate(rem(15), -50%);
				}
			}
		}
	}

	&.is-style-link {
		.wp-block-button__link {
			font-family: $font-fourth;
			font-style: italic;
			letter-spacing: normal;
			text-transform: none;

			background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@include font(12, 15.08);

			&::after {
				display: none;
			}
		}
	}
}