@import '__settings/init';

.search-alert {
	max-width: rem(800);
	padding: rem(20);

	position: relative;
	margin: rem(50) auto;

	font-family: $font-secondary;
	color: $color--light;

	border-top: rem(3) solid $color--primary;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-image-source: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
	border-image-slice: 1;
	background-color: $color--secondary;

	@include font(14, 25);
}
