@import '__settings/init';


.shared_buttons {
	position: relative;
	z-index: 9;

	.a2a_dd {

		width: rem(25);
		height: rem(25);

		position: absolute;
		top: rem(-20);
		right: rem(-10);
		bottom: auto;
		left: auto;

		@include media('>=md') {
			width: rem(30);
			height: rem(30);

			top: rem(-30);
			right: rem(-13);
		}

		.a2a_svg {
			background: none !important;

			svg {
				opacity: 35%;
			}
		}
	}
}
