@import '__settings/init';

.text-hero {
	flex-direction: column;

	padding-top: rem(145);
	padding-bottom: rem(100);

	position: relative;

	@include media('>=md') {
		height: 60%;
		padding-top: rem(175);
		padding-bottom: rem(100);
	}

	@include media('>=xxl') {
		padding-top: rem(250);
		padding-bottom: rem(150);
	}

	@include media('>=max') {
		padding-top: rem(200);
		padding-bottom: rem(150);
	}

	&__background {
		width: 100%;
		height: 40%;

		position: absolute;
		z-index: -5;
		top: 0;
		left: 0;

		@include media('>=md') {
			height: 60%;
		}

		@include media('>=lg') {
			height: 70%;
		}

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		&::before {
			content: '';

			width: 100%;
			height: 120%;

			position: absolute;
			top: 0;
			left: 0;

			background: linear-gradient(180deg, #1D1D1D 5%, rgba(29, 29, 29, .851479) 12.97%, rgba(29, 29, 29, 0) 98.41%);
		}

		&::after {
			content: '';

			width: 100%;
			height: 90%;

			position: absolute;
			bottom: rem(-4);
			left: 0;

			background: linear-gradient(3.7deg, #1D1D1D 22.43%, rgba(29, 29, 29, 0) 83.24%);
		}
	}

	&__top-text {
		font-family: $font-secondary;
		letter-spacing: .1em;
		text-transform: uppercase;

		@include font(16, 20);

		@include media('>=lg') {
			@include font(20, 25);
		}
	}

	&__main-title {
		margin-top: rem(25);
		margin-bottom: rem(20);

		font-family: $font-third;
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;

		background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include font(35, 45);

		@include media('>=lg') {
			@include font(60, 70);
		}

		@include media('>=xxl') {
			@include font(80, 100);
		}
	}

	&__subtitle {
		margin-bottom: rem(25);

		font-family: $font-secondary;
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;

		@include font(16, 20);

		@include media('>=lg') {
			margin-bottom: rem(35);

			@include font(20, 25);
		}
	}

	&__footer {
		margin-top: rem(30);

		font-family: $font-fourth;

		@include media('>=lg') {
			margin-top: rem(50);
		}

		@include media('>=xxl') {
			margin-top: rem(80);
		}

		&-title {
			font-family: $font-secondary;
			font-weight: 400;
			letter-spacing: .1em;
			text-transform: uppercase;

			@include font(20, 25);
		}

		&-description {
			margin: rem(15) auto 0;

			font-family: $font-base;

			@include font(12, 23);

			@include media('>=xl') {
				max-width: 80%;
				@include font(14, 25);
			}

			@include media('>=xxl') {
				margin-top: rem(40);
			}

			p:not(:first-child) {
				@include media('>=xl') {
					max-width: 95%;

					margin: 0 auto;
				}
			}

			p:not(:last-child) {
				margin-bottom: rem(30);

				@include media('>=xxl') {
					margin-bottom: rem(35);
				}
			}
		}
	}
}