@import '__settings/init';

.hero {
	flex-direction: column;

	padding-bottom: rem(70);

	position: relative;

	@include media('>=md') {
		padding-bottom: rem(100);
	}

	@include media('>=xl') {
		padding-bottom: rem(100);
	}

	&__background {
		width: 100%;
		height: 100vh;
		min-height: rem(900);
		position: absolute;
		z-index: -5;
		top: 0;
		left: 0;

		&--main {
			display: none;

			@include media('>=lg') {
				display: block;
			}
		}

		&--mob {
			@include media('>=lg') {
				display: none;
			}
		}

		@include media('>=md') {
			height: 60%;
			min-height: rem(1000);
		}

		@include media('>=lg') {
			height: 40%;
			top: -30%;
			min-height: rem(1500);
		}

		@include media('>=xl') {
			height: 70%;
			min-height: rem(1700);
		}

		video {
			width: auto;
			height: 100%;
		}

		iframe {
			width: 100%;
			height: 100%;

			position: absolute;
			z-index: -1;
			top: rem(-250);
			left: 0;

			@include media('>=max') {
				top: rem(-550);
			}
		}

		&::before {
			content: '';

			width: 100%;
			height: 64%;

			position: absolute;
			top: 0;
			left: 0;

			background: linear-gradient(180deg, #1D1D1D 5%, rgba(29, 29, 29, .851479) 12.97%, rgba(29, 29, 29, 0) 98.41%);

			@include media('>=sm') {
				top: rem(-100);
			}

			@include media('>=lg') {
				top: rem(150);
			}
		}

		&::after {
			content: '';

			width: 100%;
			height: 35%;

			position: absolute;
			bottom: rem(0);
			left: 0;

			background: linear-gradient(0deg, #1D1D1D 60.43%, rgba(29, 29, 29, 0) 83.24%);

			@include media('>=sm') {
				height: 35%;
			}

			@include media('>=md') {
				height: 74%;
				bottom: rem(-4);
				background: linear-gradient(0deg, #1D1D1D 34.43%, rgba(29, 29, 29, 0) 83.24%);
			}

			@include media('>=xl') {
				height: 74%;
				bottom: rem(-350);
				background: linear-gradient(0deg, #1D1D1D 34.43%, rgba(29, 29, 29, 0) 83.24%);
			}
		}

		&--vimeo {
			height: 85%;


			@include media('>=sm') {
				height: 80%;
			}

			@include media('>=md') {

				height: 85%;
			}

			@include media('>=lg') {
				height: 0;
				padding-top: 112%;
			}

			&::after {
				bottom: rem(100);

				@include media('>=sm') {
					bottom: rem(50);
				}

				@include media('>=md') {
					bottom: rem(100);
				}

				@include media('>=max') {
					bottom: rem(500);
				}
			}
		}
	}

	&__button {
		margin-top: rem(30);
	}

	&__container {
		padding-bottom: rem(40);

		margin: 0 auto;

		text-align: center;
	}

	&-slide {
		height: auto;

		text-align: center;

		&__card {
			height: 100%;
			padding: rem(30);

			@include media('>=lg') {
				padding: rem(66) rem(30);
			}
		}

		&__content {
			margin-top: rem(10);
		}

		&__title {
			font-family: $font-secondary;
			font-weight: 700;
			text-transform: uppercase;

			@include font(17, 20);
		}

		&__image {
			height: 100%;
			max-height: rem(300);

			@include media('>=lg') {
				height: auto;
				max-height: none;
			}

			img {
				height: 100%;

				object-fit: contain;
			}
		}
	}

	&-slider__pagination {
		display: flex;

		width: 100%;
		max-width: rem(1080);

		bottom: 0 !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
	}

	.swiper-pagination-bullet {
		flex: 1 1;

		width: auto;
		height: 2px;

		margin: 0 !important;

		background-color: $color--primary;

		&.swiper-pagination-bullet-active {
			background-color: $color--primary;
		}
	}

	&__showcase {
		width: 100%;

		position: relative;
		margin-top: rem(40);

		&--mobile {
			margin-top: 0;

			@include media('>=xl') {
				display: none;
			}

			.swiper-container {
				padding-top: rem(20);
			}
		}

		&--desktop {
			display: none;

			height: rem(420);
			max-width: rem(950);

			margin-top: rem(30);

			@include media('>=xl') {
				display: block;
			}
		}

		&-item {
			width: rem(253);

			position: absolute;
			z-index: 1;

			cursor: pointer;

			&--top-left,
			&--bottom-left {
				left: 0;

				text-align: right;
			}

			&--top-right,
			&--bottom-right {
				right: 0;

				text-align: left;
			}

			&--top-left,
			&--top-right {
				top: 0;
			}

			&--bottom-left,
			&--bottom-right {
				bottom: 0;
			}
		}

		&-title {
			font-family: $font-secondary;
			font-weight: 700;
			letter-spacing: .21em;
			text-transform: uppercase;

			transition: color $default-transition-speed;

			@include font(15, 18);
		}

		&-item:not(&-item--active) &-title:hover {
			color: $color--primary;
		}

		&-content {
			margin-top: rem(6);

			opacity: 0;

			transition: opacity $transition-long;
		}

		&-item--active &-content {
			opacity: 1;
		}

		&--mobile &-content {
			margin-top: rem(16);

			opacity: 1;
		}

		&-description {
			margin-bottom: 0;

			font-family: $font-base;
			font-weight: 600;
			color: $color--7;

			@include font(11, 13.33);
		}

		&--mobile &-read-more {
			display: inline-block;

			margin-top: rem(10);
		}
	}

	&__products {
		&-item {
			display: flex;
			align-items: center;
			justify-content: center;

			height: rem(400);

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			opacity: 0;

			transition: opacity $transition-long ease;

			&--active {
				opacity: 1;
			}

			img {
				width: auto;
				max-height: rem(350);
			}
		}
	}

	&__wheel {
		width: rem(400);
		height: rem(400);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		border: 2px solid #FFFFFF80;
		border-radius: 50%;

		transition: transform $transition-long;

		&::before {
			content: '';

			width: rem(16);
			height: rem(16);

			position: absolute;
			top: rem(45);
			left: rem(52);

			border-radius: 50%;
			background: $color--primary;
		}

		&::after {
			content: '';

			width: 50%;
			height: 50%;

			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-2px, -2px);

			border-top: 2px solid $color--primary;
			border-left: 2px solid $color--primary;
			border-radius: rem(287) 0 0 0;
		}
	}

	&__footer {
		margin-top: rem(30);

		font-family: $font-fourth;
		font-style: italic;

		&-title {
			@include font(14, 18);

			@include media('>=xl') {
				@include font(20, 25);
			}
		}

		&-bottom {
			display: flex;
			align-items: center;
			justify-content: center;

			margin-bottom: rem(10);

			gap: rem(7);

			@include font(12, 16);

			@include media('>=xl') {
				@include font(15, 19);
			}
		}

		&-bottom-left {
			margin: 0;
		}
	}
}