@import '__settings/init';

.product-cards {
	padding-top: rem(100);
	padding-bottom: rem(25);

	@include media('>=xxl') {
		padding-top: rem(150);
	}

	&__items {
		justify-content: center;

		gap: rem(75);

		@include media('>=lg') {
			justify-content: space-between;

			gap: 0;
		}
	}
}

.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: rem(350);

	text-align: center;

	&__image {
		width: 100%;
		max-width: rem(250);
	}

	&__title {
		margin-top: rem(30);

		font-family: $font-fourth;
		font-style: italic;

		@include font(22, 27.65);

		@include media('>=md') {
			margin-top: rem(66);
		}
	}

	&__description {
		margin-top: rem(20);
		max-width: rem(300);

		font-family: $font-base;

		@include font(12, 21);

		@include media('>=md') {
			max-width: none;
			@include font(13, 22);
		}

	}
}