@import '__settings/init';

.search-form {
	display: none;

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background: $color--bg;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100%;
		padding: 0 rem(16);
	}

	&__form {
		display: flex;
		align-items: center;

		width: 100%;
		max-width: rem(550);

		margin: 0 auto;

		border-bottom: 1px solid $color--primary;
	}

	&__submit {
		border: none;
		background: transparent;
		cursor: pointer;

		svg {
			width: rem(16);
			height: rem(16);
		}
	}

	&__close {
		margin: 0 rem(10) 0 rem(4);

		cursor: pointer;
	}

	input[type=search] {
		display: block;

		width: 100%;
		padding: rem(8) rem(14);

		font-family: $font-third;
		font-weight: 400;
		color: $color--light;

		border: none;
		background: transparent;

		@include font(14, 16);
		-webkit-appearance: none;

		&::-webkit-search-cancel-button {
			display: none;
		}

		&::placeholder {
			color: $color--light;

			opacity: .5;

			@include font(14, 20);
		}
	}
}
