@import '__settings/init';

.product-slider {
	&__title {
		margin-bottom: rem(83);

		font-family: $font-secondary;
		font-weight: 400;
		text-transform: uppercase;

		@include font(25, 30, 1);
	}

	&__container {
		padding-bottom: rem(40);

		margin: 0 auto;

		text-align: center;

		outline-offset: rem(-20);
	}

	&__pagination {
		display: flex;

		width: 100%;
		max-width: rem(1080);

		bottom: 0 !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
	}


	.swiper-button-next,
	.swiper-button-prev {
		display: flex;
		align-items: center;
		justify-content: center;

		width: rem(55);
		height: rem(55);

		top: 50%;
		transform: translateY(-50%);

		border-radius: 50%;

		&::after {
			font-size: rem(22);
			color: $color--primary;
		}
	}

	.swiper-button-prev {
		left: rem(-20);
	}

	.swiper-button-next {
		right: rem(-20);
	}

	.swiper-pagination-bullet {
		flex: 1 1;

		width: auto;
		height: 2px;

		margin: 0 !important;

		background-color: $color--primary;

		&.swiper-pagination-bullet-active {
			background-color: $color--primary;
		}
	}
}

.product-slide {
	height: auto;

	text-align: center;

	a {
		display: inline-block;
	}

	&__card {
		height: 100%;
		padding: rem(30);

		color: $color--light;
		text-decoration: none;

		transition: color $default-transition-speed;

		&:hover {
			color: $color--primary;
		}
	}

	&__content {
		margin-top: rem(10);
	}

	&__title {
		font-family: $font-secondary;
		font-weight: 700;
		text-transform: uppercase;

		@include font(17, 20);
	}

	&__price {
		font-family: $font-fourth;
		font-weight: 400;
		font-style: italic;
		color: $color--primary;

		@include font(12, 15);
	}

	&__image {
		max-width: rem(300);
		height: 100%;
		max-height: rem(300);

		@include media('>=lg') {
			height: auto;
			max-height: none;
		}

		img {
			max-width: rem(200);
			height: auto;
			object-fit: contain;
		}
	}


}