@import '__settings/init';


.shop-hero {
	height: rem(450);
	padding: rem(20) 0 rem(60);
	margin-top: rem(50);

	position: relative;


	&~.content-area {
		main {
			padding-top: 0;
			margin-top: rem(-200);
		}
	}

	&~main {
		padding-top: 0;

		margin-top: rem(-200);
	}


	@include media('>=md') {
		height: rem(700);

		&~.content-area {
			main {
				margin-top: rem(-400);
			}
		}

		&~main {
			margin-top: rem(-400);
		}
	}

	@include media('>=lg') {
		height: rem(850);
		padding: rem(30) 0;

		&~.content-area {
			main {
				margin-top: rem(-530);
			}
		}

		&~main {
			margin-top: rem(-530);
		}

	}


	&__background {
		position: absolute;
		z-index: -5;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&::before {
			content: ' ';

			width: 100%;
			height: 120%;

			position: absolute;
			top: 0;
			left: 0;

			background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29, 29, .851479) 12.97%, rgba(29, 29, 29, 0) 98.41%);
		}

		&::after {
			content: '';

			width: 100%;
			height: 90%;

			position: absolute;
			bottom: rem(-4);
			left: 0;

			background: linear-gradient(3.7deg, #1D1D1D 22.43%, rgba(29, 29, 29, 0) 83.24%);
		}

		img {
			width: 100%;
			height: 100%;
		}
	}


	.container {
		position: relative;
		z-index: 9;
	}


	&__page-title {
		margin-bottom: rem(20);

		.woocommerce-products-header__title {
			font-family: $font-secondary;
			font-weight: 400;
			text-align: center;
			color: $color--light;
			text-transform: uppercase;

			@include font(16, 20, 1);

			@include media('>=lg') {
				@include font(20, 25, 1);
			}
		}
	}

	h2 {
		&.shop-hero__title {
			margin-bottom: rem(30);

			font-family: $font-third;
			font-weight: 400;
			text-align: center;
			letter-spacing: .1em;
			text-transform: uppercase;

			background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;


			@include font(40, 50);

			@include media('>=lg') {
				@include font(60, 70);
			}

			@include media('>=xxl') {
				@include font(80, 100);
			}
		}
	}

	&__line_decoration {
		margin-top: rem(10);

		@include media('>=lg') {
			margin-top: rem(5);
		}
	}
}
