@import '__settings/init';

.subscription {
	margin: rem(100) 0;

	&__container {
		display: flex;
		flex-direction: column;

		border: rem(1) solid $color--primary;

		@include media('>=md') {
			flex-direction: row;
		}
	}

	&__img,
	&__content {
		@include media('>=md') {
			flex: 1 1 50%;
		}
	}

	&__img {
		margin-bottom: rem(35);

		@include media('>=md') {
			margin-bottom: 0;
		}

		img {
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding-left: rem(15);

		margin-bottom: rem(35);

		@include media('>=md') {
			margin-bottom: 0;
		}
	}

	&__content-wrapper {
		@include media('>=md') {
			max-width: rem(300);
		}

		@include media('>=lg') {
			max-width: rem(405);
		}
	}

	&__title {
		margin-bottom: rem(15);

		font-family: $font-third;
		font-weight: 400;
		color: $color--primary;

		@include font(22, 30);

		@include media('>=lg') {
			@include font(25, 36);
		}

		&::before {
			content: '';

			display: block;

			width: rem(62);
			height: rem(2);

			margin-bottom: rem(24);

			background-color: $color--primary;
		}

	}


	&__description {
		margin-bottom: rem(36);

		@include font(13, 20);

		@include media('>=lg') {
			max-width: rem(356);

			@include font(15, 26);
		}
	}

	&__link {
		margin-top: rem(20);

		@include media('>=lg') {
			margin-bottom: rem(39);
		}
	}
}
