@import '__settings/init';

.tiles-grid {
	padding: rem(25) 0;

	&__items {
		display: grid;

		grid-auto-rows: rem(285);

		gap: rem(16);

@include media('>=md') {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.grid-tile {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	color: $color--light;
	text-decoration: none;

	&:hover {
		color: $color--light;
	}

	&__background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		&-overlay {
			width: 100%;

			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			right: 0;
			bottom: 0;

			opacity: .5;

			transition: opacity $default-transition-speed;
		}
	}

	&:hover &__background-overlay {
		opacity: 1;
	}

	&__title {
		position: relative;

		font-family: $font-secondary;
		letter-spacing: .1em;
		text-transform: uppercase;

@include font(30, 35.49);

		&::after {
			content: '';

			width: rem(120);
			height: rem(2);

			position: absolute;
			bottom: rem(-20);
			left: 50%;
			transform: translateX(-50%);

			background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
			opacity: 0;

			transition: opacity $default-transition-speed;
		}
	}

	&:hover &__title::after {
		opacity: 1;
	}
}
