@import '__settings/init';

.line-decoration {
	margin: rem(50) 0;

@include media('>=lg') {
		margin: rem(80) 0;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&--img-short {
		width: 100%;
		max-width: rem(484);
	}
}