@import '__settings/init';

.contact-form {
	margin: rem(50) 0;

@include media('>=lg') {
		margin: rem(92) 0;
	}

	&__title {
		margin-bottom: rem(50);

		font-family: $font-fourth;
		font-weight: 400;
		font-style: italic;
		text-align: center;

@include font(22, 27);

@include media('>=lg') {
			margin-bottom: rem(84);
		}
	}

	&__input-container {
		p {
			display: flex;
			flex-direction: column;
			align-items: center;

			gap: rem(47);

@include media('>=lg') {
				flex-direction: row;
			}

			br {
				display: none;
			}
		}
	}

	&__input-submit {
		margin-top: rem(30);

@include media('>=lg') {
			margin-top: rem(71);
		}

		p {
			width: fit-content;

			position: relative;
			margin: 0 auto;

			text-align: center;

			&::before,
			&::after {
				content: '';

				width: 100%;
				height: rem(2);

				position: absolute;
				bottom: 0;
				left: 0;

				transition: opacity $default-transition-speed;

@include font(22, 27.65);
			}

			&::before {
				background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
			}

			&:hover::before {
				opacity: 0;
			}

			&::after {
				background: $color--light;
				opacity: 0;
			}

			&:hover::after {
				opacity: 1;
			}

			.wpcf7-spinner {
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translateY(-50%);
			}
		}
	}

	.wpcf7-not-valid-tip {
		position: absolute;

		font-size: rem(12);
	}

	input[type=submit] {
		padding: rem(9) rem(14);

		position: relative;
		margin: 0 auto;

		font-family: $font-fourth;
		font-style: italic;
		color: $color--light;

		border: none;
		background: transparent;
	}
}