$font-form: $font-base;

input,
label,
textarea,
em {
	font-family: $font-form;
	font-weight: 400;
	color: $color--light;
}

input:not([type='submit']),
textarea {
	@include font(14, 16);
}

input:not([type='submit']) {
	width: 100%;
	padding: rem(12) 0;

	border: none;
	border-bottom: 2px solid $color--1;
	background: none;

	&:-webkit-autofill,
	&:-webkit-autofill:hover {
		-webkit-text-fill-color: $color--light;
		-webkit-box-shadow: 0 0 0 40rem $color--bg inset;
		caret-color: $color--light;
	}
}

label {
	font-style: normal;

	@include font(16, 20);
}

::placeholder,
:-ms-input-placeholder {
	font-family: $font-form;
	font-weight: 400;
	color: red;

	opacity: 1;

	@include font(16, 20);
}

textarea {
	resize: none;
	width: 100%;
	height: rem(100);
	padding-bottom: rem(16);

	border: none;
	border: rem(2) solid $color--1;
	background: none;
}

em {
	font-weight: 300;

	@include font(12, 16);
}

select {
	min-width: rem(150);
	min-height: rem(33);
	padding: 0 rem(5);

	font-family: $font-base;
	font-weight: 400;
	color: $color--light;
	letter-spacing: .05em;
	text-transform: uppercase;

	border: rem(1) solid $color--primary;
	background: none;

	@include font(12);

	option {
		padding: rem(10);

		color: $color--light;

		background: $color--bg;
	}
}

.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme,
.woocommerce-form__label-for-checkbox,
.sumo_order_subscription td {
	display: flex;
	align-items: center;

	@include font(16, 18);
	gap: rem(10);

	input[type=checkbox] {
		display: grid;

		width: rem(20);
		height: rem(20);
		padding: 0;

		transform: translateY(-.075em);
		margin: 0;

		font: inherit;
		color: currentColor;

		border: rem(2) solid currentColor;
		border-radius: rem(2);
		background-color: $color--bg;

		place-content: center;
		-webkit-appearance: none;
		appearance: none;

		&::before {
			content: '';

			width: rem(10);
			height: rem(10);

			transform: scale(0);
			transform-origin: bottom left;

			box-shadow: inset 1em 1em currentColor;

			transition: 120ms transform ease-in-out;

			clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		}

		&:checked::before {
			transform: scale(1);
		}
	}

	span {
		font-weight: 400;
	}
}

.wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output {
	max-width: rem(800);
	padding: rem(10);

	margin: rem(50) auto;

	font-family: $font-secondary;
	text-align: center;
	color: $color--light;

	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-image-source: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
	border-image-slice: 1;
	background-color: $color--secondary;

	@include font(14, 25);

	&::before {
		background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.select2-container--default .select2-selection--single {
	display: flex;
	align-items: center;

	height: rem(44);

	border: none;
	border-bottom: 2px solid $color--1;
	border-radius: 0;
	background: none;

	.select2-selection__rendered {
		padding-left: 0;

		font-family: $font-form;
		color: $color--light;

		background: none;

		@include font(14, 21);
	}

	.select2-selection__arrow {
		top: 50%;
		transform: translateY(-50%);
	}
}

.select2-dropdown {
	font-family: $font-form;

	background: $color--bg;

	@include font(14, 21);
}

.select2-results__option {
	font-size: rem(16);
	color: $color--light;
}

.select2-search__field {
	color: $color--light;

	background: none;
}

.select2-container--open .select2-dropdown--below {
	border: 1px solid $color--1;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
	background: $color--1;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	color: $color--bg;

	background: $color--primary;
}

/*-----------------------------
	Custom Number Quantity
-----------------------------*/
.woocommerce {
	.quantity {
		max-width: rem(100);
	}

	.qty {
		width: auto;
	}

	.quantity {
		display: inline-block;
		margin: 0 !important;
	}

	.input-group {
		display: flex;
		align-items: stretch;
		justify-content: center;
		height: rem(34);
		border-radius: 0;
		overflow: hidden;
		border: rem(1) solid rgba(255, 255, 255, 0.7);

		input {
			border: none;
		}
	}

	input {
		margin: 0;
	}

	input[type="number"] {
		width: auto;
		text-align: center;
		border: none !important;
		outline: none !important;
	}

	.input-group-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;


		.btn,
		.btn-default {
			border: none;
			outline: none;
			margin: 0;
			padding: 0;
			height: auto;
			font-family: $font-base;
			font-size: rem(16);
			background: none;
			color: $color--primary;
		}
	}
}