@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline: 4px solid $color--primary !important;
}

::selection {
	color: $color--text-light;

	background: $color--secondary;

	-webkit-text-fill-color: $color--text-light;
}

::-moz-selection {
	color: $color--text-light;

	background: $color--secondary;
}

html {
	font-size: 1rem;
	line-height: 1.5;

	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $font-base;

	@include media('>=md') {
		font-size: $font-size-desktop;
		line-height: $line-height-desktop;
	}

	&.using-mouse :focus {
		outline: none !important;
	}

	&.scroll-lock {
		@include media('<lg') {
			overflow: hidden;
		}
	}
}

a,
button,
input,
select,
textarea {
	&:focus {
		outline: none;

		html.user-tab-nav & {
			outline: $outline;
			outline-offset: 0;
		}
	}
}

#page{
	overflow: hidden;
}

.page-content {
	padding-bottom: rem(40);

	&:not(.shop-hero ~ &)>div>*:first-child:not(.wp-block-custom-container) {
		padding-top: rem(175);

		@include media('>=xl') {
			padding-top: rem(130);
		}
	}
}

.woocommerce {
	.page {
		padding-top: rem(125);
		padding-bottom: rem(40);
	}
}


input,
select,
textarea {
	max-width: 100%;
}

figure {
	margin: 0;
}

img,
svg {
	height: auto;
	max-width: 100%;

	vertical-align: middle;
}

nav {
	ul {
		padding: 0;

		margin: 0;

		list-style: none;
	}

	li {
		display: inline-block;

		>a {
			text-decoration: none;
		}
	}
}