@import '__settings/init';

.main-footer {
	padding: rem(50) 0 rem(50) 0;

	background-color: $color--bg;

@include media('>=lg') {
		padding: rem(78) 0 rem(124) 0;
	}

	&__top {
		padding-bottom: rem(0);

@include media('>=lg') {
			display: block;

			padding-bottom: rem(50);
		}
	}

	&__logo {
		padding-left: rem(20);

		margin-bottom: rem(40);

@include media('>=lg') {
			padding-left: 0;

			margin-bottom: rem(54);
		}
	}

	&__address-container {
		padding: rem(20);

		border-top: 1px solid $color--1;

@include media('>=lg') {
			padding-left: 0;

			border-top: none;
		}
	}

	&__nav-container {
		padding: rem(20);

		border-top: 1px solid $color--1;
		border-bottom: 1px solid $color--1;

@include media('>=lg') {
			padding-right: 0;
			padding-left: 0;

			border-top: none;
			border-bottom: none;
		}
	}

	&__column-nav {
		padding-right: rem(20);
		padding-left: rem(20);

@include media('>=lg') {
			border-right: 1px solid $color--1;
			border-left: 1px solid $color--1;
		}
	}

	&__title {
		font-family: $font-secondary;
		font-weight: 700;
		text-transform: uppercase;

@include font(17, 20, 4);
	}

	&__content {
		display: flex;
		flex-wrap: wrap;

		gap: rem(20) rem(70);
	}

	&__wyciwyg {
		font-family: $font-base;
		color: $color--1;

		p {
			font-weight: 400;

@include font(17, 31);
		}

    a:hover {
      color: $color--light;
    }
	}

	.menu {
		padding-left: 0;

		margin-bottom: 0;

		li {
			list-style: none;


			a {
				font-family: $font-base;
				font-weight: 400;
				color: $color--1;
				text-decoration: none;

@include font(17, 31);
			}
		}
	}

	&__logos-container {
		max-width: rem(425);
		padding: rem(20);

@include media('>=lg') {
			padding-right: 0;
		}
	}

	&__logos {
		display: grid;

		grid-template-columns: 73px 73px 73px 73px;
		grid-template-columns: repeat(4, 1fr);

		column-gap: 30px;

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__bottom {
		padding: rem(20);

		border-top: 1px solid $color--1;

@include media('>=lg') {
			padding-top: rem(30);
			padding-right: 0;
			padding-left: 0;
		}

		.row {
			display: flex;
			align-items: flex-start;

			gap: rem(4);

@include media('>=lg') {
				gap: 0;
			}
			.col-12 {
				flex-basis: auto;

@include media('>=lg') {
					flex-basis: 50%;
				}
			}
		}
	}

	&__copyright {
		font-family: $font-secondary;
		font-weight: 400;
		text-transform: uppercase;

@include font(17, 21);
	}

	&__link {
		display: flex;
		align-items: center;

		text-align: right;

		gap: rem(12);

@include media('>=lg') {
			justify-content: flex-end;
		}
		a {
			font-family: $font-secondary;
			font-weight: 400;
			color: $color--light;
			text-decoration: none;
			text-transform: uppercase;

@include font(17, 21);
		}

		&-icon {
			display: flex;
		}
	}
}