@import '__settings/init';

.accordion {
	&__header {
		margin: 0 0 rem(41);
	}

	&__title {
		font-family: $font-secondary;
		@include font(25, 30);
		font-weight: 400;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
}

.single-accordion {
	&__row {
		padding: 0;

		margin: 0;
	}

	&__icon {
		width: rem(16);
		height: rem(2);

		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);

		background-color: $color--primary;

		&:after {
			content: '';

			display: block;

			width: rem(16);
			height: rem(2);

			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(-90deg);

			background-color: $color--primary;

			transition: transform .2s ease;
		}

		
	}

	&__item {
		list-style: none;
		border-top: rem(1) solid #E4E6EA;
		padding: 0 rem(15);

		&:last-of-type {
			border-bottom: rem(1) solid #E4E6EA;
		}

		[aria-expanded='true'] {
			.single-accordion__icon {
				&:after {
					transform: rotate(0);
				}
			}
		}
	}

	&__header {
		margin-bottom: 0;
	}

	&__trigger {
		display: block;

		width: 100%;
		padding: rem(30) 0;

		position: relative;

		font-family: $font-fourth;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		color: $color--light;

		border: 0;
		background: transparent;
		box-shadow: none;
		cursor: pointer;
		transition: opacity ease  0.1s;

		@include font(14, 20);

		@include media('>=md') {
			@include font(18, 23);
		}

		&:hover{
			opacity: .7;

			.single-accordion__icon{
				background-color: $color--light;

				&::after{
					background-color: $color--light;
				}
			}
		}
	}


	&__text {
		display: inline-block;
		padding-right: rem(30);
	}

	&__content {
		padding-bottom: rem(30);

		font-family: $font-base;

		@include font(12, 22);

		@include media('>=md') {
			@include font(13, 20);
		}
	}
}
