@import '__settings/init';

.related-post {
	padding: rem(140) 0;

	&__container {
		display: grid;

		grid-template-columns: 1fr;

		gap: rem(19);

		@include media('>=md') {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__card {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		transition: color $default-transition-speed;

		aspect-ratio: 1;

		&:hover {

			.related-post__link{
				color: $color--primary;
			}

			.related-post__overlay {
				background-color: $color--secondary;
			}
		}
	}

	&__overlay{
		height: 100%;
		transition: background-color 0.2s;
	}


	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		color: $color--light;
		text-decoration: none;


		cursor: pointer;
	}


	&__title {
		display: inline-block;

		max-width: rem(220);

		font-family: $font-fourth;
		font-weight: 300;
		text-align: center;

		@include font(24, 34);

		@include media('>=xl') {
			@include font(22, 30);
		}
	}
}
