@import '__settings/init';

.reviews {
	padding: rem(50) 0;

	position: relative;

	background-color: $color--secondary;

@include media('>=lg') {
		padding: rem(100) 0;
	}

	&__title {
		margin-bottom: rem(34);

		font-family: $font-secondary;
		font-weight: 400;
		text-align: center;

@include font(35, 41);
	}


	&__container {
		max-width: rem(1170);
		padding-top: 0;

		margin: 0 auto;
		margin-top: rem(50);
	}


	.custom-slide {
		padding: 0 rem(50);

		text-align: center;

@include media('>=md') {
			padding: 0 rem(100);
		}

@include media('>=lg') {
			padding: 0 rem(100);
		}
	}



	&__rating {
		margin-bottom: rem(43);
	}

	&__content {
		margin-bottom: rem(20);

		p {
			font-family: $font-base;

@include font(12, 16);
		}
	}

	&__name {
		font-family: $font-fourth;

@include font(16, 20);
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		transform: translateY(-50%);

		&::after {
			color: $color--light;

			transition: color $default-transition-speed;
		}

		&:hover::after {
			color: $color--primary;
		}
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		padding: 0;
	}
}
