@import '__settings/init';

.wholesale-form {
	&__title {
		position: relative;
		margin-bottom: rem(40);

		font-family: $font-secondary;
		font-weight: 400;
		text-align: center;
		letter-spacing: rem(1);
		text-transform: uppercase;

@include font(35, 41);

@include media('>=lg') {
			margin-bottom: rem(63);
		}

		&::after {
			content: '';

			display: block;

			width: rem(62);
			height: rem(2);

			margin: rem(21) auto 0 auto;

			text-align: center;

			background-color: $color--primary;
		}
	}

	&__description {
		max-width: rem(756);

		margin: 0 auto;

		font-family: $font-base;
		font-weight: 400;
		text-align: center;
		letter-spacing: rem(1);

@include font(14, 28);

@include media('>=lg') {
			margin: 0 auto;
		}
	}

	&__input-container {
		margin: rem(51) 0;

		p {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;

			gap: rem(47);

@include media('>=lg') {
				flex-direction: row;
			}

			br {
				display: none;
			}
		}

		.wpcf7-form-control-wrap {
			width: 100%;
		}

		input {
			width: 100%;
			padding-bottom: rem(16);

			border: none;
			border-bottom: 2px solid $color--1;
			background: none;
		}

		textarea {
			resize: none;
			width: 100%;
			max-height: rem(170);
			padding: rem(24) rem(28);

			border: 2px solid $color--1;
			background: none;
		}

		::placeholder {
			font-family: $font-base;
			font-weight: 400;
			color: $color--light;

			opacity: 1;

@include font(14, 16);
		}

		:-ms-input-placeholder {
			font-family: $font-base;
			font-weight: 400;
			color: $color--light;

@include font(14, 16);
		}

		::-ms-input-placeholder {
			font-family: $font-base;
			font-weight: 400;
			color: $color--light;

@include font(12, 16);
		}
	}

	.wpcf7-not-valid-tip {
		position: absolute;
		top: 115%;
		font-family: $font-base;
		@include font(12, 14);
	}

	&__input-submit {
		margin-top: rem(0);

		p {
			width: fit-content;

			position: relative;
			margin: 0 auto;

			text-align: center;

			&::after {
				content: '';

				width: 100%;
				height: rem(2);

				position: absolute;
				bottom: 0;
				left: 0;

				background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

@include font(22, 27.65);
			}

			.wpcf7-spinner {
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translateY(-50%);
			}
		}
	}

	input[type=submit] {
		padding: rem(9) rem(14);

		position: relative;
		margin: 0 auto;

		font-family: $font-fourth;
		font-style: italic;
		color: $color--light;

		border: none;
		background: transparent;
	}
}
