@import '__settings/init';

.woocommerce_navigation {
	position: relative;

	overflow: hidden;

	@include media('>=lg') {
		.swiper-button-disabled {
			display: none;
		}
	}

	ul {
		width: 100%;
		padding: 0;

		margin: 0;

		li {
			text-align: center;

			list-style: none;


			a {
				display: inline-block;

				padding: rem(10) 0;

				font-family: $font-secondary;
				color: $color--light;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: rem(1.5) solid #00000000;

				@include font(14, 19, 1);

				@include media('>=md') {
					@include font(16, 20, 1);
				}

				@include media('>=lg') {
					@include font(18, 25, 1);
				}

				&:hover {
					border-bottom: rem(1.5) solid $color--primary;
				}
			}
		}

		.current-menu-item {
			a {
				border-bottom: rem(1.5) solid $color--primary;

				&:hover {
					border-bottom: rem(1.5) solid $color--primary;
				}
			}
		}
	}

	/*----------------------------
		Swiper Slider
	-----------------------------*/
	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: flex;
		align-items: center;
		justify-content: center;

		width: rem(28);
		height: rem(28);

		top: 50%;
		transform: translateY(-50%);

		border-radius: 50%;
		background-color: $color--bg;

		&::after {
			font-size: rem(12);
			color: $color--primary;
		}
	}

	@include media('>=lg') {
		.swiper-button-disabled {
			display: none;
		}
	}
}
