@import '__settings/init';

.post-cards {
	&__container {
		width: 100%;

		@include media('>=lg') {
			display: flex;
		}
	}

	&__card {
		flex: 1 1 auto;

		height: auto;
		max-height: rem(470);

		position: relative;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&-background {
			width: 100%;
			height: 100%;

			position: absolute;
			bottom: 0;
			left: 0;
		}

		&-info {
			display: flex;
			flex-direction: column;
			align-items: center;

			padding: rem(50) rem(20);

			position: relative;
			z-index: 1;

			text-align: center;

			@include media('>=md') {
				padding: rem(80) rem(20);
			}

			@include media('>=lg') {
				padding: rem(80) 0;
			}

			@include media('>=xxl') {
				padding: rem(100) 0;
			}

			@include media('>=max') {
				padding: rem(200) 0;
			}

			&::before {
				content: '';

				display: inline-block;

				width: rem(50);
				height: rem(5);

				background-color: $color--primary;
			}
		}
	}

	&__link {
		color: $color--light;
		text-decoration: none;

		&:hover {
			color: $color--primary;
		}
	}

	&__info {
		margin: rem(38) auto rem(13);
	}

	&__category {
		font-family: $font-base;
		font-weight: 600;

		@include font(14, 22);
	}

	&__date {
		font-family: $font-base;
		font-weight: 400;

		@include font(14, 22);
	}


	&__title {
		display: inline-block;

		max-width: rem(466);

		margin-bottom: rem(30);

		font-family: $font-fourth;
		font-weight: 700;
		font-style: italic;
		text-align: center;

		@include font(20, 30);

		@include media('>=xl') {
			@include font(25, 32);
		}
	}

	&__description {
		display: inline-block;

		max-width: rem(330);

		font-family: $font-base;
		font-weight: 400;

		@include font(13, 20);
	}
}