@import '__settings/init';

.image-cards {
	.row .col-12:has(> .image-cards__card) {
		max-width: rem(400);

		margin-right: auto;
		margin-left: auto;

		@include media('>=lg') {
			max-width: none;
		}
	}

	.row div:not(:last-child):has(> .image-cards__card) {
		margin-bottom: rem(50);

		@include media('>=md') {
			margin-bottom: 0;
		}
	}

	&__card {
		display: inline-block;
		height: 100%;

		position: relative;

		@include media('>=md') {
			max-width: rem(290);
			height: auto;
		}

		a{
			display: inline-block;
		}
	}

	&__link {
		color: $color--light;
		text-decoration: none;

		transition: color $default-transition-speed;

		&:hover {
			color: $color--primary;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		max-height: rem(400);

		margin-bottom: rem(20);

		overflow: hidden;

		@include box-shadow;

		@include media('>=lg') {
			max-height: rem(752);

			margin-bottom: rem(30);
		}

		img {
			height: 100%;

			transition: transform $default-transition-speed;

			object-fit: cover;
		}

		&:hover img {
			transform: scale(1.1);
		}
	}

	&__link-title {
		font-family: $font-secondary;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;

		@include font(18, 23, 1);

		@include media('>=md') {
			@include font(20, 25, 1);
		}
	}
}