@import '__settings/init';
.swiper-pagination-fraction {
	display: flex;
	align-items: center;
	justify-content: center;

	height: rem(44);
	padding: 0 rem(50);

	top: 0;
	bottom: auto;
}
.swiper-container {
	padding-top: rem(50);
}
.swiper-button-prev,
.swiper-button-next {
	top: 0;
	bottom: auto;
	margin-top: 0;
}
