.woocommerce-account {
	.container .woocommerce h2,
	.container .woocommerce h3 {
		font-family: $font-secondary;
		font-weight: 400;
		letter-spacing: .05em;
		text-transform: uppercase;
	}

	.container .woocommerce p {
		max-width: rem(800);

		margin-right: auto;
		margin-left: auto;

		font-family: $font-fourth;
		font-style: italic;

@include font(14, 25);
	}

	.woocommerce-MyAccount-navigation {
		width: fit-content;

		float: initial;
		margin: 0 auto;

		ul {
			display: flex;

			gap: rem(15);

			li {
				a {
					font-family: $font-third;
					text-transform: uppercase;

					transition: color $default-transition-speed;

@include font(14, 24);

					&:hover {
						color: $color--light;
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		width: 100%;

		margin-top: rem(50);

		p {
			margin-bottom: rem(30);

			font-style: normal;
		}

		> p {
			text-align: center;
		}
	}

	.woocommerce-Address {
		max-width: none;

		margin-top: rem(50);

		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&.title::before,
			&.title::after {
				display: none;
			}
		}
	}

	fieldset {
		margin: rem(30) 0;
	}

	.cart_totals {
		h2 {
			text-align: left;
		}
	}

	.cart-collaterals .cart_totals tr th,
	.cart-collaterals .cart_totals tr td {
		font-family: $font-base;
	}

	.woocommerce-MyAccount-content {
		font-family: $font-base;

@include font(16, 20);
	}

	mark {
		color: $color--light;
		text-decoration: underline;

		background-color: transparent;
	}

	.woocommerce-order-details__title,
	.woocommerce-column__title {
		padding-left: rem(12);
	}

	&.woocommerce-view-order table.shop_table {
		max-width: rem(500);

		tfoot {
			th,
			td {
				font-weight: 400;
			}
		}
	}

	table.shop_table_responsive tr {
		mark.sumosubs-status {
			display: inline-block;
		}

		td {
			&::before {
				content: attr(data-title);

@include media('>=md') {
					content: none;
				}
			}

			&.sumo-subscription-status::before {
				padding-top: rem(2);
			}

			&.sumo-subscription-actions::before {
				display: none;
			}
		}
	}

	table.sumo_subscription_details {
		@include font(17, 31);

		tr td:nth-child(2) {
			padding: 0 rem(15);

			visibility: hidden;
		}
	}

	table.subscription_activity_logs {
		margin-top: rem(40);

		a#prevent-more-subscription-notes {
			display: inline-block;

			margin-top: rem(10);
		}
	}

	.col-1,
	.col-2 {
		max-width: none;
		padding: 0;
	}

	.subscription_activity_logs ._success {
		color: $color--6;
	}

	.subscription_activity_logs .sumo_alert_box {
		padding: rem(10) rem(20);

		margin-left: 0;

		font-family: $font-base;
		color: $color--light;

		border: none;
		border-radius: 0;
		background: $color--secondary;
	}

	mark.sumosubs-status {
		font-family: $font-base;
		text-decoration: none;
	}
}
