.woocommerce-cart {
	.container .woocommerce h2 {
		font-family: $font-secondary;
		font-weight: 400;
		letter-spacing: .05em;
		text-transform: uppercase;

		@include font(25, 30);
	}

	#content table.cart {
		font-family: $font-base;

		border: none;

		@include font(16, 20);

		th,
		td {
			text-align: center;
		}



		td {
			border: none;

			small {
				color: $color--1 !important;

				@include font(14, 18);
			}

			&.product-name dl.variation {
				text-align: left;

				dt {
					margin-right: rem(6);

					color: $color--1;
				}
			}

			&.actions {
				padding-top: rem(50);

				.input-text {
					width: fit-content;
				}
			}

			&.product-name a {
				text-transform: uppercase;
			}
		}

		img {
			width: rem(100);
		}
	}

	table.shop_table {
		font-family: $font-base;

		border: none;

		@include font(16, 20);
	}

	a.remove {
		color: $color--primary !important;

		@include font(20, 20);

		&:hover {
			color: $color--light !important;

			background: none;
			;
		}
	}

	td.product-name dl.variation {
		@include font(16, 24);

		p {
			font-family: $font-base;
			font-size: inherit;
			font-style: normal;
			line-height: inherit;
		}

		&:last-child {
			font-family: $font-base;
		}
	}

	.coupon {
		display: flex;
		align-items: center;

		gap: rem(10);

		button[type=submit] {
			padding-top: 0;
		}
	}

	.wc-proceed-to-checkout a.checkout-button {
		width: fit-content;
		padding: rem(9) rem(14);

		position: relative;
		margin: 0;

		font-family: $font-fourth;
		font-style: italic;
		color: $color--light;

		border: none;
		background: transparent;

		@include font(14, 25);

		&:hover {
			color: $color--light;

			background: none;
		}

		&::before,
		&::after {
			content: '';

			width: 100%;
			height: rem(2);

			position: absolute;
			bottom: 0;
			left: 0;

			transition: opacity $default-transition-speed;
		}

		&::before {
			background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
		}

		&:hover::before {
			opacity: 0;
		}

		&::after {
			background: $color--light;
			opacity: 0;
		}

		&:hover::after {
			opacity: 1;
		}

		&:disabled:hover {
			background: none;
		}
	}

	.cart-collaterals {
		margin-top: rem(75);

		.cart_totals {
			float: left;
		}
	}

	#wc-stripe-payment-request-button-separator {
		text-align: left !important;
	}

	.woocommerce .quantity .qty {
		font-family: $font-base;
	}

	.shipping-calculator-button {
		text-transform: uppercase;
	}
}
