.woocommerce-checkout {
	.container .woocommerce h3 {
		padding-left: rem(12);

		font-family: $font-secondary;
		font-weight: 400;
		letter-spacing: .05em;
		text-transform: uppercase;

@include font(25, 30);
	}
	form.checkout {
		padding: 0 rem(15);
		
		.col2-set {
			display: flex;
			flex-direction: column;
		}
		.col-1,
		.col-2 {
			width: 100%;
			max-width: none;
			padding: 0;
		}
		.col-2 h3#ship-to-different-address {
			padding-left: 0;
		}
		.form-row {
			flex-direction: column;

			width: 100%;
		}
    h3 {
      font-family: $font-base;
    }
	}

	table.woocommerce-checkout-review-order-table {
		font-family: $font-base;

@include font(16, 20);

		tfoot td {
			font-weight: 400;
		}
	}

	.woocommerce-checkout #payment {
		background: none;

		#place_order {
			margin: rem(30) auto 0;
		}

		div.payment_box {
			font-family: $font-base;
			color: $color--light;

			border: 2px solid $color--1;
			background: $color--bg;

@include font(14, 25);

			&::before {
				content: none;
			}
		}

    label {
      font-family: $font-base;
    }
	}

	.woocommerce-privacy-policy-text p {
		font-family: $font-base;
		font-size: rem(12);
	}

  td.product-name dl.variation dt {
    color: $color--1;
  }
}
