.woocommerce {

	&.post-type-archive-product {

		.woocommerce-ordering {
			select {
				opacity: 0;
			}
		}

		.select2-container {

			.selection {

				&:hover {
					.select2-selection__rendered {
						color: $color--primary;
					}

					.select2-selection__arrow {
						b {
							border-color: $color--primary transparent transparent transparent;
						}
					}
				}

				.select2-selection {

					&__rendered {
						font-family: $font-base;
						@include font(14, 25);
						letter-spacing: .12em;
						text-transform: uppercase;
						color: $color--light;
					}

					&__arrow {
						top: 45%;

						b {
							border-width: rem(6) rem(7) 0 rem(7);
							border-color: $color--light transparent transparent transparent;
						}
					}


				}
			}

			.select2-dropdown {
				background-color: $color--bg;
				box-shadow: 0 rem(4) rem(154) rem(10) rgba(0, 0, 0, 0.5);
				border: none;

				.select2-search {
					&__field {
						border: none;
						border-bottom: 1px solid $color--primary;
					}
				}
			}

			.select2-results {
				&__option {
					padding-left: rem(25);
					font-family: $font-base;
					@include font(13, 20);
					letter-spacing: .01em;
				}

				&__options {
					.select2-results__option--highlighted {
						background-color: $color--secondary;
					}
				}

				&__option--selected {
					position: relative;
					background: none;

					&::before {
						content: url('../../assets/images/svg/Check.svg');
						position: absolute;
						top: 23%;
						left: rem(5);

					}
				}
			}
		}
	}


	ul.products {
		padding-top: rem(54);

		li.product {
			text-align: center;
			text-decoration: none;


			&:hover {
				.button {
					opacity: 1;
				}
			}

			a {
				max-width: rem(200);
				display: inline-block;

				&:focus{
					outline: rem(4) solid $color--primary;
				}

				.attachment-woocommerce_thumbnail-wrapper {
					height: rem(300);

					position: relative;
					margin-bottom: rem(15);

					@include media('>=md') {
						height: auto;
						height: rem(380);

						margin-bottom: rem(27);
					}
				}

				img {
					display: inline-block;
					width: 100%;
					height: 100%;

					margin: 0 auto;

					object-fit: contain;
				}
			}


			.button {
				display: inline-block;

				padding: rem(8) 0;

				position: absolute;
				z-index: 99;
				top: auto;
				right: 0;
				bottom: 0;
				left: 0;

				font-family: $font-fourth;
				font-weight: 300;
				color: $color--light;
				letter-spacing: rem(1);
				text-transform: uppercase;

				background-color: $color--secondary;
				opacity: 0;

				transition: all ease-in-out .2s;

				@include font(14, 19);

				@include media('>=md') {
					padding: rem(15) 0;

					@include font(18, 20);
				}
			}

			.star-rating {
				color: $color--primary;

				@include font(10);
				letter-spacing: rem(4);
				width: rem(75);

				&::before {
					color: $color--primary;
				}
			}

			.woocommerce-loop-product__title {
				font-family: $font-secondary;
				font-weight: 700;
				text-align: left;
				color: $color--light;
				text-transform: uppercase;

				@include font(14, 17);

				@include media('>=md') {
					@include font(16, 19);
				}
			}

			.price {
				font-family: $font-secondary;
				font-weight: 400;
				text-align: left;
				color: $color--primary;


				@include font(14, 19);

				@include media('>=md') {
					@include font(16, 20);
				}

				ins,
				bdi {
					text-decoration: none;
				}
			}

		}
	}
}
