.woocommerce,
.woocommerce-cart {
	main {
		padding-top: rem(125);
	}

	.select2-container {
		width: auto !important;

		.selection {
			.select2-selection {
				background: none;
				border: none;

				&__rendered {
					margin-right: rem(10);
					font-family: $font-base;
					@include font(14, 25);
					letter-spacing: .12em;
					text-transform: uppercase;
					color: $color--light;
				}

				&__arrow {
					top: 45%;

					b {
						border-width: rem(6) rem(7) 0 rem(7);
						border-color: $color--light transparent transparent transparent;
					}
				}


			}
		}

		.select2-dropdown {
			background-color: $color--bg;
			box-shadow: 0 rem(4) rem(154) rem(10) rgba(0, 0, 0, 0.5);
			border: none;

			.select2-search {
				&__field {
					border: none;
					border-bottom: 1px solid $color--primary;
				}
			}
		}

		.select2-results {
			&__option {
				font-family: $font-base;
				@include font(13, 20);
				letter-spacing: .01em;
			}

			&__options {
				.select2-results__option--highlighted {
					background-color: $color--secondary;
				}
			}

			&__option--selected {
				background-color: $color--primary;
			}
		}
	}

	.woocommerce-ordering {
		position: relative;
	}

	.container-rating {
		.star-rating {
			color: $color--primary;

			@include font(10, 11, 4);
			min-width: rem(75);

			&::before {
				color: $color--primary;
			}
		}
	}

	button {
		&.button.alt {
			font-weight: 700;
			text-transform: uppercase;

			background-color: $color--5;

			@include font(10, 14);
		}
	}

	&-error,
	&-message,
	&-info {
		max-width: rem(800);

		margin: rem(50) auto;

		font-family: $font-base;
		color: $color--dark;

		background: $color--light;
	}

	.return-to-shop {
		max-width: rem(800);

		margin: rem(50) auto;

		.button {
			color: $color--light;
			text-transform: uppercase;

			border-radius: 0;
			background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

			transition: opacity $default-transition-speed;

			@include font(18, 21);

			&:hover {
				background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
			}
		}
	}

	form {
		.form-row {
			&.woocommerce-invalid label {
				color: $color--light;
			}

			&.woocommerce-validated input.input-text {
				border-color: $color--1;
			}

			&:first-child {
				margin-bottom: rem(20);
			}

			&:not(.woocommerce-form-row) {
				display: flex;
				justify-content: space-between;

				margin-bottom: rem(30);

				&::before,
				&::after {
					display: none;
				}
			}
		}

		&.login {
			padding: 0;
			border: none;

			@include media('>=lg') {
				margin-right: auto;
				margin-left: auto;
			}
		}

		.show-password-input {
			top: 50%;
			transform: translateY(-50%);
		}

		.lost_password {
			a {
				font-family: $font-fourth;
				font-style: italic;
				letter-spacing: normal;
				text-transform: none;

				background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

				transition: opacity $default-transition-speed;

				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				@include font(12, 15.08);

				&:hover {
					opacity: .8;
				}
			}
		}

		input[type=radio] {
			display: inline-grid;

			width: rem(16) !important;
			height: rem(16);
			padding: 0;

			transform: translateY(-.075em);
			margin: 0;

			font: inherit;
			color: currentColor;

			border: .15em solid currentColor;
			border-radius: 50%;
			background-color: $color--bg;

			-webkit-appearance: none;
			appearance: none;
			place-content: center;

			&::before {
				content: '';

				width: rem(8);
				height: rem(8);

				transform: scale(0);

				border-radius: 50%;
				box-shadow: inset 1em 1em $color--light;

				transition: 120ms transform ease-in-out;
			}

			&:checked::before {
				transform: scale(1);
			}
		}

		.woocommerce-address-fields {

			.form-row-first,
			.form-row-last {
				width: 100%;
			}

			.form-row:not(.woocommerce-form-row) {
				flex-direction: column;
			}
		}
	}

	address {
		font-style: normal;

		@include font(16, 24);
	}

	form:not(&-cart-form) {
		max-width: rem(600);

		margin-right: auto;
		margin-left: auto;
	}

	a:where(:not(.wp-element-button)) {
		transition: color $default-transition-speed;

		&:hover {
			color: $color--light;
		}
	}

	button[type=submit].woocommerce-button,
	button[type=submit].woocommerce-Button,
	button[type=submit].button,
	a.wc-backward,
	table.my_account_orders .button,
	&-payment-methods a.button,
	a#prevent-more-subscription-notes,
	.woocommerce-pagination a.button {
		width: fit-content;
		padding: rem(9) rem(14);

		position: relative;
		margin: 0;

		font-family: $font-fourth;
		font-style: italic;
		color: $color--light;
		text-decoration: none;

		border: none;
		background: transparent;

		@include font(14, 25);

		&:hover {
			color: $color--light;

			background: none;
		}

		&::before,
		&::after {
			content: '';

			width: 100%;
			height: rem(2);

			position: absolute;
			bottom: 0;
			left: 0;

			transition: opacity $default-transition-speed;
		}

		&::before {
			background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
		}

		&:hover::before {
			opacity: 0;
		}

		&::after {
			background: $color--light;
			opacity: 0;
		}

		&:hover::after {
			opacity: 1;
		}

		&:disabled:hover {
			background: none;
		}
	}

	legend {
		padding: 0 rem(8);

		font-family: $font-third;
	}

	.woocommerce-notices-wrapper {
		.woocommerce-message {
			margin-top: 0;

			font-family: $font-secondary;
			color: $color--light;

			border-right: 0;
			border-bottom: 0;
			border-left: 0;
			border-image-source: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
			border-image-slice: 1;
			background-color: $color--secondary;

			@include font(14, 25);

			&::before {
				background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.wp-element-button {
				padding: rem(10) rem(15);

				font-family: $font-third;
				color: $color--light;
				letter-spacing: .1em;
				text-transform: uppercase;

				border-radius: 0;
				background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

				transition: opacity $default-transition-speed;

				@include font(18, 21);

				&:hover {
					opacity: .8;
				}
			}
		}
	}

	.woocommerce-info {
		margin-top: 0;

		font-family: $font-secondary;
		color: $color--light;

		border-right: 0;
		border-bottom: 0;
		border-left: 0;
		border-image-source: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
		border-image-slice: 1;
		background-color: $color--5;

		@include font(14, 25);

		&::before {
			background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.woocommerce-error {
		margin-top: 0;

		font-family: $font-secondary;
		color: $color--light;

		border-right: 0;
		border-bottom: 0;
		border-left: 0;
		border-image-source: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
		border-image-slice: 1;
		background-color: #706865;

		@include font(14, 25);

		&::before {
			background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.LinkButton {
		max-width: rem(250);
	}

	mark.sumosubs-status {
		&.Active-Subscription {
			background-color: $color--badge-active;
		}

		&.Expired {
			background-color: $color--badge-expired;
		}
	}

	&.single-product .product button.single_add_to_cart_button,
	.return-to-shop .button {
		display: inline-block;

		min-width: rem(150);
		padding: rem(10) rem(15);

		font-family: $font-third;
		font-weight: 400;
		font-style: normal;
		letter-spacing: .1em;

		border-radius: 0;
		background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

		transition: opacity $default-transition-speed;

		@include font(14, 16);

		@include media('>=md') {
			@include font(18, 21);
		}

		&::after {
			content: none;
		}

		&:hover {
			color: #FFF;

			opacity: .8;
		}
	}
}

.woocommerce-account {
	.woocommerce-notices-wrapper {
		.woocommerce-error {
			margin-top: 0;
		}
	}
}


/*-------------------------------
	BlockUI
-------------------------------*/

.woocommerce {
	.blockUI {
		&.blockOverlay {
			background-color: #0000006c !important;
			z-index: 99999999999;

			&::before {
				background: url(../../assets/images/svg/loader.svg) center center !important;
			}
		}
	}
}