.woocommerce {
	&.single-product {
		padding-top: rem(50);

		.site-main{
			padding-top: rem(85);

			.container{
				max-width: rem(800);
			}
		}

		.woocommerce-product-gallery {
			padding: rem(50) 0;

			background-color: $color--5;


			&__wrapper {
				height: 100%;
			}

			&__image {
				height: 100%;

				text-align: center;
			}
		}

		.product {
			.images {
				img.wp-post-image {
					display: inline-block;

					width: auto;
					height: 100%;
					max-height: rem(300);

					@include media('>=md') {
						width: auto;
						height: 100%;
						max-height: rem(450);
					}
				}
			}

			.product_title {
				margin-bottom: rem(10);

				font-family: $font-secondary;
				font-weight: 700;
				text-transform: uppercase;

				@include font(20, 25, 2);

			}

			.product-score {
				font-family: $font-fourth;
				font-weight: 300;
				font-style: italic;
				color: $color--primary;
				letter-spacing: rem(2);

				@include font(14, 23);
			}

			.woocommerce-product-details__short-description {
				margin-top: rem(15);


				p {
					font-family: $font-base;
					font-weight: 300;
					font-style: normal;

					@include font(12, 22, 1);

				}
			}

			.product_meta {
				display: flex;
				flex-direction: column;

				margin: rem(10) 0;

				@include font(12, 23);

				.posted_in {
					font-family: $font-fourth;
					font-weight: 300;
					font-style: italic;
					color: $color--primary;
					letter-spacing: rem(2);
				}

				.tagged_as {
					font-family: $font-base;
					font-weight: 300;

					a {
						color: $color--light;
					}
				}

				a {
					font-weight: 300;
					text-decoration: none;
				}
			}


			.price {
				margin: rem(30) 0;

				color: $color--light;

				.amount {
					font-family: $font-third;
					font-weight: 400;
					font-style: italic;
					color: $color--light;
					letter-spacing: .05em;
					text-transform: uppercase;

					@include font(20, 25);
				}

				ins,
				bdi {
					text-decoration: none;
				}
			}


			.woocommerce-tabs {
				ul.tabs {
					display: flex;


					&::before {
						border-bottom: none;
					}

					&.wc-tabs {
						padding: 0;
						padding-bottom: 10px;

						margin-bottom: 0;

						overflow: visible;

						li {
							flex: 1 1;

							padding: 0;

							margin: 0;
							vertical-align: middle;

							border: none;
							border-radius: 0;
							background: none;


							&::before,
							&::after {
								border: none;
								box-shadow: none;
							}

							&.active {
								border-bottom: none;
								background-color: $color--bg;

								&::before,
								&::after {
									box-shadow: none;
								}

								a {
									position: relative;
									z-index: 9999;

									&::before,
									&::after {
										content: '';

										position: absolute;
										bottom: rem(-10);
										left: 50%;
										transform: rotate(180deg);

										border: 10px solid transparent;
										border-top: 10px solid $color--primary;
									}

									&::after {
										bottom: rem(-12);

										border-top: 10px solid $color--bg;
									}
								}
							}

							a {
								display: inline-block;

								width: 100%;

								font-family: $font-third;
								font-weight: 400;
								text-align: center;
								color: $color--light;
								letter-spacing: .05em;
								text-transform: uppercase;

								@include font(12, 19);

								@include media('>=md') {
									@include font(16, 32);
								}
							}
						}
					}
				}

				.panel {
					padding: rem(50) rem(15);

					position: relative;

					border: rem(1) solid $color--primary;

					h2 {
						display: none;

						font-family: $font-secondary;
						font-weight: 700;
						text-transform: uppercase;

						@include font(19, 26, 2);
					}

					.shop_attributes {
						text-align: left;
						margin-bottom: 0;

						th {
							width: rem(80);

							@include media('>=md') {
								width: rem(150);
							}
						}

						.woocommerce-product-attributes-item__label {
							font-family: $font-secondary;
							font-weight: 400;
							font-style: normal;
							letter-spacing: .05em;

							@include font(12, 20);

							@include media('>=md') {
								@include font(16, 25);
							}
						}

						.woocommerce-product-attributes-item__value {
							p {
								font-family: $font-base;
								font-weight: 300;
								font-style: normal;

								@include font(10, 25);

								@include media('>=md') {
									@include font(14, 20);
								}
							}
						}
					}
				}
			}
		}

		.woocommerce-custom-row {
			flex-direction: row-reverse;
		}

		.woocommerce-product-details {
			&__short-description {
				font-family: $font-base;
				font-weight: 400;

				@include font(14, 25);
			}
		}

		.comment-reply-title {
			display: inline-block;

			width: 100%;

			font-family: $font-secondary;
			font-weight: 300;
			text-align: center;
			letter-spacing: .1em;
			text-transform: uppercase;

			@include font(20, 35);

			@include media('>=md') {
				margin-bottom: rem(10);

				@include font(25, 30);
			}
		}


		form {
			&.cart {
				margin-top: rem(19);
				margin-left: 0;

			

				.quantity {
					padding-right: rem(15);
				}
			}



			// VARIATIONS FORM
			&.variations_form {
				label {
					display: inline-block;

					width: 100%;

					font-family: $font-secondary;
					font-weight: 300;
					letter-spacing: .1em;
					text-transform: uppercase;

					@include font(14, 22);

				}

				.select2-container {
					min-width: rem(190);

					.selection {
						.select2-selection {
							display: flex;
							background: $color--bg;
							border: 1px $color--primary solid;
							border-radius: 0;

							&__rendered {
								font-family: $font-base;
								@include font(12, 15);
								text-transform: uppercase;
								color: $color--light;
							}

							&__arrow {
								right: rem(8);
							}
						}
					}
				}
			}


			// REVIEWS FORM

			&.comment-form {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				.comment-notes {
					width: 100%;

					margin-bottom: rem(30);

					font-family: $font-base;
					font-weight: 300;

					@include font(12, 20);

					span {
						display: inline-block;

						width: 100%;

						text-align: center;
					}

					.required {
						display: inline;
					}
				}

				.comment-form-rating,
				.comment-form-comment,
				.comment-form-cookies-consent {
					width: 100%;
				}

				p.stars {
					font-size: rem(10);
					font-style: normal;

					span {
						a {
							&.active {
								color: $color--primary;
							}
						}
					}
				}

				p.comment-form-cookies-consent {
					padding-top: rem(30);
					display: flex;
					align-items: center;
					gap: rem(10);


					input[type=checkbox] {
						display: grid;

						width: rem(20);
						padding: 0;

						transform: translateY(-.075em);
						margin: 0;

						font: inherit;
						color: currentColor;

						border: rem(2) solid currentColor;
						border-radius: rem(2);
						background-color: $color--bg;

						place-content: center;
						-webkit-appearance: none;
						appearance: none;

						@include media('>=md') {
							height: rem(20);
						}


						&::before {
							content: '';

							width: rem(10);
							height: rem(10);

							transform: scale(0);
							transform-origin: bottom left;

							box-shadow: inset 1em 1em currentColor;

							transition: 120ms transform ease-in-out;

							clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
						}

						&:checked::before {
							transform: scale(1);
						}


					}
				}

				.form-submit {
					width: fit-content;

					position: relative;
					margin: rem(20) auto 0 !important;

					text-align: center;

					&::after {
						content: '';

						width: 100%;
						height: rem(2);

						position: absolute;
						bottom: 0;
						left: 0;

						background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

						@include font(22, 27.65);
					}


					input[type=submit] {
						padding: rem(9) rem(14);

						position: relative;
						margin: 0 auto;

						font-family: $font-fourth;
						font-style: italic;
						color: $color--light !important;

						border: none;
						background: transparent;
						background-color: $color--5 !important;
					}
				}

				.comment-form-author {
					width: 100%;

					@include media('>=md') {
						width: 50%;
					}
				}

				.comment-form-email {
					width: 100%;

					@include media('>=md') {
						width: 50%;
						padding-left: rem(8);
					}
				}

				input {
					width: 100%;
					padding-bottom: rem(16);

					border: none;
					border-bottom: rem(2) solid $color--1;
					background: none;
				}

				::placeholder {
					font-family: $font-fourth;
					font-weight: 400;
					font-style: italic;
					color: $color--light;

					opacity: 1;

					@include font(14, 16);
				}

				:-ms-input-placeholder {
					font-family: $font-fourth;
					font-weight: 400;
					font-style: italic;
					color: $color--light;

					@include font(14, 16);
				}

				::-ms-input-placeholder {
					font-family: $font-fourth;
					font-weight: 400;
					font-style: italic;
					color: $color--light;

					@include font(14, 16);
				}

				.comment-form-cookies-consent {
					display: flex;

					input[type=checkbox] {
						width: rem(15);

						margin-right: rem(10);
					}
				}
			}
		}

		#reviews {
			article.comment {
				margin-left: 0;
			}

			#comments {
				.woocommerce-noreviews {
					margin-bottom: rem(30);

					font-family: $font-base;
					font-weight: 400;
					font-style: normal;

					@include font(14, 25);
				}

				ol.commentlist {
					padding: 0;

					.review {
						.comment_container {
							.avatar {
								display: none;
							}

							.comment-text {
								max-width: rem(600);
								padding: 0;

								margin: 0 auto;

								border: none;

								.star-rating {
									width: 100%;

									float: left;

									font-size: rem(10);

									&::before {
										color: $color--primary;
									}

									span {
										color: $color--primary;
									}
								}

								.meta {
									margin-top: rem(20);

									font-family: $font-fourth;
									font-weight: 400;
									font-style: italic;
									color: $color--light;

									opacity: .5;

									@include font(12, 14);

									@include media('>=md') {
										@include font(14, 16);
									}
								}

								.description {
									p {
										font-family: $font-base;
										font-weight: 400;
										font-style: normal;

										@include font(14, 25);
									}
								}
							}
						}
					}
				}
			}
		}

		.product {
			.woocommerce-variation-add-to-cart {
				margin-top: rem(20);
			}

			button {
				&.single_add_to_cart_button {
					display: inline-block;

					min-width: rem(150);
					padding: rem(10) rem(15);

					font-family: $font-third;
					font-style: normal;
					letter-spacing: .1em;

					border-radius: 0;
					background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

					transition: opacity $default-transition-speed;

					@include font(14, 16);

					@include media('>=md') {
						@include font(18, 21);
					}

					&::after {
						content: none;
					}

					&:hover {
						color: #FFF;

						opacity: .8;
					}
				}
			}

			.woocommerce-product-rating {
				margin-bottom: rem(18);

				line-height: 1;

				&__count {
					display: block;

					margin-top: 0;

					color: $color--primary;

					@include font(10, 12);
				}

				.star-rating {
					float: left;
					margin: 0;
				}
			}

			.woocommerce-review-link {
				display: inline-block;

				margin-top: rem(13);

				font-family: $font-third;
				color: $color--light;

				@include font(16, 16);
			}
		}

		/*--------------------------------
           Variation Product
        ---------------------------------*/

		.woocommerce-variation-price,
		.woocommerce-Price-amount {
			font-family: $font-third;
			font-weight: 400;
			font-style: italic;
			color: $color--light;
			letter-spacing: .05em;
			text-transform: uppercase;

			@include font(20, 25);
		}

		#sumosubs_plan_message {
			font-family: $font-base;
			font-weight: 400;
			font-style: italic;
			color: $color--light;
			letter-spacing: .05em;

			@include font(12, 15);
		}

		/*------------ Swatchly -----------*/

		.swatchly-swatch {
			margin: 0 rem(5) rem(5) 0;
			
			height: 100%;

			&:focus {
				display: flex;

				.swatchly-content {
					display: inline-block;
				}
			}
		}

		.swatchly-content {
			.swatchly-text {
				font-family: $font-base;
				font-weight: 400;
				letter-spacing: .05em;
				text-transform: uppercase;

				@include font(10, 14);

				@include media('>=md') {
					@include font(12, 15);
				}
			}
		}


		.product {
			.cart {
				.variations {
					th {
						&.label {
							line-height: 1.5em;
						}
					}

					.reset_variations {
						font-family: $font-base;
						text-decoration: none;
					}

					.value {
						line-height: 1;
					}
				}
			}
		}
	}
}