.StripeElement {
	max-width: rem(200) !important;
}

#wc-stripe-payment-request-button-separator {
	margin: rem(20) 0 !important;

	font-family: $font-third;
	font-style: italic;
	text-align: left !important;
	color: $color--primary;

	@include font(16, 23);
}
