.woocommerce-order-received {
	.woocommerce {
		.woocommerce-order {
			.woocommerce-notice {
				max-width: rem(800);
				padding: 1em 2em 1em 3.5em;

				position: relative;
				margin: rem(50) auto;

				font-family: $font-secondary;
				text-align: center;
				color: $color--light;
				word-wrap: break-word;

				border-top-width: 3px;
				border-top-style: solid;
				border-right: 0;
				border-bottom: 0;
				border-left: 0;
				border-image-source: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
				border-image-slice: 1;
				background: $color--light;
				background-color: $color--5;

@include font(14, 25);

				&::before {
					background: -webkit-linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			ul {
				&.order_details {
					display: flex;
					flex-direction: column;

					padding-left: 0;

@include media('>=md') {
						flex-direction: row;
						justify-content: center;
					}

					&::before,
					&::after {
						content: none;
					}

					li {
						display: flex;
						justify-content: space-between;

						width: 100%;
						padding-right: 0;

						margin-right: 0;

						font-family: $font-base;
						font-size: rem(13.6);
						font-weight: 700;
						text-transform: none;

						border-right: none;

@include font(14, 22);

@include media('>=md') {
							flex-direction: column;
							align-items: start;
							justify-content: center;

							width: auto;
							padding-right: rem(28);

							margin-right: rem(28);
							margin-left: 0;
						}

						&:last-child {
							padding-right: 0;

							margin-right: 0;
						}

						strong {
							margin-left: rem(10);

							font-family: $font-base;
							font-weight: 400;

@include font(12, 23);

@include media('>=md') {
								margin-left: 0;
							}
						}
					}
				}
			}

			.woocommerce-order-details {
				padding: rem(30) rem(10);

				margin-bottom: 0;

				background-color: $color--5;

@include media('>=md') {
					padding: rem(30);
				}

				&__title {
					margin-bottom: rem(30);

					font-family: $font-third;
					font-weight: 400;
					text-align: center;
					letter-spacing: .1em;
					text-transform: uppercase;

					background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
					background-clip: text;

@include font(31, 46);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-fill-color: transparent;
				}
			}

			.woocommerce-table {
				border: 0;

				td,
				th {
					padding: rem(2) rem(7);

					border: 0;
				}

				thead {
					.woocommerce-table__product-name,
					.woocommerce-table__product-table {
						padding-bottom: rem(10);

						font-family: $font-secondary;
						font-weight: 700;
						text-align: left;
						letter-spacing: .26em;
						text-transform: uppercase;

@include font(22, 25);
					}
				}

				tbody th,
				tfoot td,
				tfoot th {
					border-top: 0;
				}

				tbody {
					.woocommerce-table__product-name,
					.woocommerce-table__product-total {
						padding-bottom: rem(20);

						vertical-align: top;

						font-family: $font-base;


						a,
						bdi,
						.product-quantity {
							font-family: $font-secondary;
							font-weight: 400;
							text-decoration: none;
							letter-spacing: .1em;
							text-transform: uppercase;

@include font(18, 22);
						}

						.wc-item-meta {
							padding-left: 0;

							font-weight: 400;

@include font(14, 25);

							strong {
								margin-right: rem(6);

								font-weight: 400;
								color: $color--1;
							}

							li {
								display: flex;

								p {
									text-align: right;
								}
							}
						}
					}
				}

				tfoot {
					tr {
						th {
							font-family: $font-base;
							font-weight: 600;

@include font(14, 25);
						}

						td {
							font-family: $font-base;
							font-weight: 400;

@include font(14, 24);
						}
					}
				}
			}

			.woocommerce-customer-details {
				padding: rem(30) rem(15);

				background-color: $color--5;

				.woocommerce-columns {
					.col-1,
					.col-2 {
						max-width: none;

						.woocommerce-column__title {
							font-family: $font-secondary;
							font-weight: 400;
							text-decoration: none;
							letter-spacing: .1em;
							text-transform: uppercase;

@include font(25, 31);
						}

						address {
							padding: 0;

							font-family: $font-base;
							font-weight: 400;

							border: none;

@include font(14, 25);
						}
					}
				}
			}
		}

		.col2-set {
			display: flex;
			flex-wrap: wrap;

			row-gap: rem(30);

			.col-1,
			.col-2 {
				float: none;
			}

			.col-1 {
				flex-basis: 64%;

@include media('>=lg') {
					flex-basis: 65%;
				}
			}
		}
	}
}
