@import '__settings/init';

.small-text {
	position: relative;
	margin: rem(80) 0;

	@include media('>=xxl') {
		margin: rem(145) 0;
	}

	&__background {
		position: absolute;
		z-index: -1;
		right: 0;

		overflow-x: hidden;

		img {
			position: relative;
			right: rem(-1130);
			transform: translateX(-10%);
			margin-bottom: rem(130);
		}
	}

	&__wrap {
		max-width: rem(403);

		margin-right: auto;
		margin-left: auto;

		@include media('>=lg') {
			margin-left: 0;
		}
	}

	&__title {
		display: inline-block;
		max-width: rem(313);

		margin: 0 auto rem(39);

		font-family: $font-fourth;
		font-weight: 400;
		font-style: italic;

		@include font(22, 28);

		@include media('>=lg') {
			margin-left: 0;
		}
	}

	&--title-color {
		color: $color--primary;
	}

	&__content {
		p {
			font-family: $font-base;

			@include font(14, 25);
		}
	}

	&__link {
		margin-top: rem(39);
	}
}