@import '__settings/init';

.featured-product {
	margin-bottom: rem(50);

	@include media('>=lg') {
		margin: rem(92) 0;
	}

	.container{
		position: relative;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		position: relative;

		border-top: 3px solid $color--1;

		@include media('>=lg') {
			flex-direction: row;

			border-bottom: 3px solid $color--1;
		}
	}

	&__arabic-calligraphy {
		position: absolute;
		right: 0;
		bottom: -12%;
		z-index: -1;

		@include media('>=lg') {
			bottom: -30%;
		}
	}

	&__item,
	&__info {
		flex: 1 0 0;

		text-align: center;
	}

	&__item-img{
		img{
			max-height: rem(400);
			width: auto;
			max-width: 100%;
		}
	}

	&__item {
		padding: rem(50) 0;

		&-name {
			max-width: rem(150);

			margin: rem(20) auto;

			font-family: $font-secondary;
			font-weight: 700;
			text-transform: uppercase;

			@include font(17, 20, 2);
		}

		&-description {
			max-width: rem(170);

			margin: 0 auto;

			font-family: $font-fourth;
			font-weight: 400;
			font-style: italic;
			color: $color--primary;

			@include font(12, 15);
		}
	}

	&__info {
		border-top: 3px solid $color--1;
		border-bottom: 3px solid $color--1;

		@include media('>=lg') {
			border-top: none;
			border-bottom: none;
			border-left: 3px solid $color--1;
		}

		&-title {
			margin-right: auto;

			font-family: $font-secondary;
			font-weight: 400;
			text-align: left;
			text-transform: uppercase;

			@include font(25, 30);

			&--color {
				display: inline-block;

				width: 100%;

				color: $color--primary;
			}
		}

		&-description {
			font-family: $font-base;
			font-weight: 400;
			text-align: left;

			@include font(14, 25);
		}
	}

	&__region {
		display: none;

		padding: rem(84) 0;

		@include media('>=lg') {
			display: block;

			padding: rem(84) rem(30);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		max-width: 75%;
		padding: rem(40) 0;

		margin: 0 auto;

		@include media('>=lg') {
			max-width: rem(402);
			padding: rem(63) rem(30);
		}

		&-wrapper {
			@include media('>=lg') {
				border-top: 3px solid $color--1;
			}
		}
	}

	&__title {
		margin-bottom: rem(30);

		font-family: $font-secondary;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;

		@include font(25, 30);
	}
}