@import '__settings/init';

.page-content--404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 50vh;
	

	@include media('>=lg') {
		padding-top: rem(150);
	}

	.page-content__wrapper {
		text-align: center;
	}

	h1 {
		font-family: $font-third;
		font-weight: 400;
		text-align: center;
		letter-spacing: .05em;
		text-transform: uppercase;

		background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);
		background-clip: text;

		@include font(110, 120);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		@include media('>=md') {
			@include font(180, 180);
		}

		p {
			font-family: $font-secondary;
			color: $color--light;
			letter-spacing: .1em;

			@include font(35, 40);
			@include media('>=md') {
				@include font(25, 30);
			}
		}
	}

	a {
		display: inline-block;

		margin: rem(25) auto;

		font-family: $font-third;
		font-weight: 300;
		color: $color--light;
		text-transform: uppercase;

		border-radius: 0;
		background: linear-gradient(72.06deg, #BE965D -204.43%, #987040 -62.17%, #C69960 8.96%, #EDBC7C 80.1%, #FCCA87 115.66%, #EABA7A 156.31%, #BD915A 242.69%, #987040 303.66%);

		transition: opacity $default-transition-speed;

		@include font(18, 21);

		&:hover {
			opacity: .7;
		}
	}
}
