@import '__settings/init';

.image-text {
	padding: rem(90) 0;

	position: relative;

	background-position: center;
	background-size: cover;

	@include media('>=lg') {
		padding: rem(120) 0;
	}

	&::before {
		content: '';

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background: linear-gradient(180deg, #1D1D1D 17.36%, rgba(29, 29, 29, 0) 68.55%);
	}

	&::after {
		content: '';

		position: absolute;
		top: 85%;
		right: 0;
		bottom: rem(-4);
		left: 0;
		transform: rotate(-180deg);

		background: linear-gradient(180deg, #1D1D1D 17.36%, rgba(29, 29, 29, 0) 68.55%);
	}

	.container {
		z-index: 1;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		margin-bottom: rem(74);

		@include media('>=lg') {
			flex-direction: row;
		}
	}

	&__card--featured {
		position: relative;
		margin-bottom: rem(200);

		column-gap: rem(50);

		.image-text__content {
			position: relative;

			&::after {
				content: '';

				width: 120%;
				height: 120%;

				position: absolute;
				z-index: -1;
				right: -10%;
				top:rem(-20);

				background: $color--5;
				opacity: .9;


				@include media('>=lg') {
					width: 240%;
					right: rem(-90);
				}
			}
		}


	}

	&__card--reverse {
		margin-bottom: 0;

		@include media('>=lg') {
			flex-direction: row-reverse;

			margin-bottom: rem(74);
		}

		.image-text__text {
			text-align: left;
		}

		.image-text__content {

			&::after {
				left: -10%;

				@include media('>=lg') {
					left: rem(-90);
				}
			}
		}
	}


	&__img {
		height: auto;
		max-width: 75%;

		@include media('>=lg') {
			width: rem(504);
			max-width: 38%;
		}

		img {
			@include box-shadow;
		}
	}

	&__card--featured &__img {
		@include media('>=lg') {
			max-width: 54%;
		}
	}

	&__text {
		max-width: 75%;

		margin-top: rem(30);

		@include media('>=lg') {
			width: rem(402);
			max-width: 48%;

			text-align: right;
		}
	}

	&__card--featured &__text {
		@include media('>=lg') {
			width: auto;
			max-width: 46%;
			padding-right: rem(60);

			margin-top: 0;

			text-align: left;
		}
	}

	&__card--reverse#{&}__card--featured &__text {
		@include media('>=lg') {
			padding-right: 0;
			padding-left: rem(90);
		}
	}

	&__title {
		margin-bottom: rem(20);

		font-family: $font-fourth;
		font-weight: 400;
		font-style: italic;

		@include font(22, 28);

		@include media('>=lg') {
			margin-bottom: rem(39);
		}
	}

	&__card--featured &__title {
		@include font(26, 40);
	}

	&--title-color {
		display: inline-block;

		width: 100%;

		color: $color--primary;
	}

	&__card--featured &--title-color {
		display: inline;
	}

	&__content {
		p {
			font-family: $font-base;

			@include font(14, 25);
		}
	}

	&__card--featured &__content {
		@include media('>=lg') {
			max-width: 94%;
			padding-top: rem(30);
		}
	}

	&__link {
		margin-top: rem(20);

		@include media('>=lg') {
			margin-bottom: rem(39);
		}
	}

	&__card--featured &__link {
		margin-bottom: 0;

		.wp-block-button__link {
			min-width: auto;
			padding: 0;
		}
	}
}